body {
    background-color: #111C3B;
    color: #dbdbdc;
}

#searchBtn {
    background-color: #84B4EA;
}

#searchBtn:hover {
    background-color: #7cafe9;
}

#locationBtn {
    border: 1px solid #84B4EA;
}

#inputContainer {
    border: 1px solid #1F2B47;
}

#weatherContainer {
    background: #1F2B47;
}

#forecastContainer{
    background: #1F2B47;
}

#temperature{
    color:#82B3EB;
}

#conditionIcon{
    border:1px solid #2C3854;
    /* background:#212D49; */
}
